/lang/.claude
/lang/build3/.vs
/lang/build3/Debug
/lang/build3/position_distance.dir/Debug
/lang/build3/x64
/ControlLibrary/ControlsLib/obj
/ControlLibrary/ControlsLib/bin
/ControlLibrary/ControlsLib/.vs
/NavSim/NavSim/.vs
/NavSim/NavSim/NavSim/x64
/NavSim/NavSim/x64
/NavSim/.vs
